.wrapper{
    position: relative;
    width: 90%;
    border: 2px solid rgba(0, 0, 0, 0.5);
    /* display: flex; */
    justify-content: center;
    margin: 30px 0;
    padding: 5px;
}

.ext_wrapper{
    margin-left: auto;
    margin-right: auto;
}